.new-expense__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.new-expense__control {
    display: flex;
    flex-direction: column;
}

.new-expense__control label {
    margin-left: 1rem;
    margin-bottom: -10px;
    font-weight: bold;
}

.new-expense__control input {
    margin: 1rem 1rem;
    width: 20rem;
    height: 2.5rem;
    border-radius: 8px;
}

.new-expense__actions {
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 0.5rem 0;
}


.new-expense__actions button {
    margin: 0 5px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: rgb(80, 1, 80);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s;
}


.new-expense__actions button:hover {
    background-color: purple;
}